@use '../variaveis.scss';

@mixin containerHeader() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: variaveis.$corHeader;
    position: sticky;
    top: 0;
    left: 0;
    .container {
        @include containerHeader();
        padding: 16px 0;
        nav {
            .menu {
                display: flex;
                li {
                    font-weight: bold;
                    margin-left: 24px;
                    a {
                        color: variaveis.$corLink;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
