@use '../variaveis.scss';

@mixin gridProducts() {
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}
section {
    padding: 56px 0;
    .products {
        @include gridProducts();
        margin-top: 40px;
        .product-item {
            .product-button {
                display: block;
                background-color: variaveis.$corButton;
                color: variaveis.$corLink;
                text-align: center;
                padding: 8px 0;
                border-radius: 8px;
                margin-top: 8px;
                text-decoration: none;
                &:hover {
                    background-color: variaveis.$corButtonHover;
                }
            }
            img {
                width: 100%;
                border-radius: 16px;
            }
        }
    }
}



@media screen and (max-width: variaveis.$tablet) {
    section {
        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }    
}


@media screen and (max-width: variaveis.$mobile) {
    section {
        .products {
            display: block;
        }
        .product-item {
            margin-bottom: 32px;
        }
    }
}
